<div class="container d-flex justify-content-center align-items-center vh-100">
  <!-- grande card -->
  <div class="card shadow-lg custom-card">
    <div class="row no-gutters">
      <!-- div a gauche qui contient l'image -->
      <div class="col-md-4 position-relative">
        <img
          src="rocket.png"
          alt="Background"
          class="img-fluid blurred-image"
        />
      </div>

      <!-- div du form a droite -->
      <div
        class="col-md-7 d-flex align-items-center justify-content-center p-5 bg-light rounded-end"
      >
        <div class="w-100">
          <!-- titre du form -->
          <div class="d-flex align-items-center mb-4">
            <a
              (click)="goBack()"
              class="back-arrow d-flex align-items-center justify-content-center me-3"
              style="cursor: pointer"
            >
              <i class="material-icons">arrow_back</i>
            </a>
            <h3 class="text-dark text-start login-header m-0">Log In</h3>
          </div>

          <form (ngSubmit)="onLogin()" #loginForm="ngForm">
            <!-- Toast affiche les messages d'erreur -->
            <div
              *ngIf="errorMessages.length > 0"
              class="toast-container position-fixed top-0 end-0 p-3"
            >
              <div
                class="toast text-bg-danger show"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
              >
                <div class="toast-body">
                  <div class="d-flex gap-3 align-items-center">
                    <i class="fa-solid fa-circle-exclamation fa-lg"></i>
                    <div
                      class="flex-grow-1 d-flex justify-content-between align-items-center"
                    >
                      <!-- Affiche tous les messages -->
                      <div class="fw-normal small">
                        <div *ngFor="let message of errorMessages">
                          {{ message }}
                        </div>
                      </div>

                      <button
                        type="button"
                        class="btn-close btn-close-white"
                        aria-label="Close"
                        (click)="errorMessages = []"
                      ></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- champ Email -->
            <div class="mb-3">
              <label for="email" class="form-label text-start"
                >Email Address</label
              >
              <input
                type="email"
                class="form-control input-field"
                id="email"
                name="email"
                [(ngModel)]="loginData.email"
                placeholder="xyz@example.com"
                required
                #emailField="ngModel"
                email
              />
            </div>

            <!-- champ password -->
            <div class="mb-3">
              <label for="password" class="form-label text-start"
                >Password</label
              >
              <div class="input-container position-relative">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  class="form-control input-field"
                  id="password"
                  name="password"
                  [(ngModel)]="loginData.password"
                  placeholder="*************"
                  required
                  #passwordField="ngModel"
                />
                <i
                  class="bieye"
                  [ngClass]="{
                    'bi-eye-slash': !showPassword,
                    'bi-eye': showPassword
                  }"
                  (click)="showPassword = !showPassword"
                ></i>
              </div>
            </div>

            <!-- Forgot Password -->
            <div class="d-flex justify-content-end">
              <a routerLink="/enteremail" class="forgot-password text-end"
                >Forgot Password?</a
              >
            </div>

            <!-- Submit Button -->
            <div class="button mt-4">
              <button
                type="submit"
                class="btn btn-primary w-100 login-btn mb-2"
              >
                Log In
              </button>

              <!-- Or -->
              <div class="text-center my-2">Or</div>

              <!-- Continue with Google -->
              <button
                type="button"
                class="btn btn-outline-dark w-100 continue-google-btn mb-2"
                (click)="loginWithGoogle()"
              >
                <img
                  src="google (1).png"
                  alt="Google"
                  class="me-2"
                  style="width: 15px; height: auto; margin-right: 10px"
                />
                Continue with Google
              </button>

              <!-- Sign Up Link -->
              <div class="text-center mt-2">
                <p style="font-size: 12px; color: #676767; display: inline">
                  New to Clevory?
                </p>
                <a
                  routerLink="/signup"
                  class="signup"
                  style="font-size: 12px; color: #171717; font-weight: bold"
                  >Sign up</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
