.card {
    transition: transform 0.2s;
}


.badge {
    font-size: 0.7rem;
    padding: 5px 10px;
    border-radius: 20px;
}

.enroll-btn {
    background-color: #93A2FF;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;

}

.card-title {
    font-weight: 400;
    color: #000000;
}


.w-fit-content {
    width: fit-content;
    background-color: #C7D8FF;
    color: #000000;
    border-color: #BCBCBC;
    font-weight: 400;
}

.no-transactions-card {
    background-color: white;
    border-radius: 16px;
    padding: 30px 20px;
    text-align: center;
    color: #444;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    max-width: 500px;
    margin: 40px auto;
}