<div *ngIf="data; else loading">
  <div class="card-container">
    <div class="card" *ngFor="let item of data">
      <div class="card-body">
        <!-- Titre -->
        <h5 class="card-title">{{ item.name }}</h5>

        <!-- Description -->
        <p class="card-text">{{ item.description }}</p>

        <!-- Date -->
        <p class="card-text">
          <small class="text-muted">Published : {{ item.date | date : "yyyy-MM-dd" }}</small>
        </p>

        <!-- Prix -->
        <p class="card-text">Price : {{ item.price_lc }} CT</p>

        <!-- Conditional Button or Message -->
        <ng-container *ngIf="!item.is_purchased; else bought">
          <button class="btn btn-primary" (click)="purchaseCourse(item.id)">Purchase</button>
        </ng-container>
        <ng-template #bought>
          <span class="text-success fw-bold">Already purchased</span>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Chargement des données...</p>
</ng-template>


<style>
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
    align-items: stretch;
  }

  .card {
    width: 18rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  .card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .card-text {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    align-self: flex-start;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }
</style>
