.card {
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
}

table th {
    color: #6b7280;
    white-space: nowrap;
}

.btn-primary {
    background-color: #a78bfa;
    border: none;
}

.btn-primary:hover {
    background-color: #8b5cf6;
}

/* Search bar styling */
.search-bar input {
    height: 48px;
    font-size: 16px;
    border-color: #e5e7eb;
    border-radius: 0 8px 8px 0;
}

.search-bar .input-group-text {
    border-radius: 8px 0 0 8px;
    border-color: #e5e7eb;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 20px;
    margin-top: 40px;
}

.title {
    font-size: 40px;
    /* Légèrement augmenté pour une taille plus grande */
    font-weight: 600;
    margin-left: 50px;

}

.profile-image {
    width: 45px;
    /* Légèrement agrandi */
    height: 45px;
    /* Légèrement agrandi */
    border-radius: 50%;
}