<div class="container-fluid h-100">
  <!-- Navbar horizontale pour mobile -->
  <div class="mobile-navbar d-none" style="border-radius: 0px 0px 20px 20px">
    <div class="d-flex justify-content-between align-items-center p-2"></div>

    <!-- Menu horizontal pour mobile -->
    <div class="mobile-menu-links">
      <div class="d-flex justify-content-around py-2">
        <a
          routerLink="dashboard"
          routerLinkActive="active-link"
          class="mobile-nav-item"
        >
          <i class="bi bi-grid"></i>
          <span class="mobile-menu-text">Dashboard</span>
        </a>
        <a
          routerLink="accounts"
          routerLinkActive="active-link"
          class="mobile-nav-item"
        >
          <i class="bi bi-people"></i>
          <span class="mobile-menu-text">Accounts</span>
        </a>
        <a
          routerLink="companies"
          routerLinkActive="active-link"
          class="mobile-nav-item"
        >
          <i class="bi bi-building"></i>
          <span class="mobile-menu-text">Companies</span>
        </a>
        <a
          routerLink="addcompany"
          routerLinkActive="active-link"
          class="mobile-nav-item"
        >
          <i class="bi bi-person-plus"></i>
          <span class="mobile-menu-text">Add Company</span>
        </a>
        <a
          routerLink="product"
          routerLinkActive="active-link"
          class="mobile-nav-item"
        >
          <i class="bi bi-box-seam"></i>
          <span class="mobile-menu-text">Product</span>
        </a>
        <a
          routerLink="addproduct"
          routerLinkActive="active-link"
          class="mobile-nav-item"
        >
          <i class="bi bi-people"></i>
          <span class="mobile-menu-text">Add Product</span>
        </a>

        <a
          routerLink="settings"
          routerLinkActive="active-link"
          class="mobile-nav-item"
        >
          <i class="bi bi-gear"></i>
          <span class="mobile-menu-text">Settings</span>
        </a>
      </div>
    </div>
  </div>

  <div class="row h-100">
    <!-- Menu gauche (visible uniquement sur desktop) -->
    <div class="col-md-2 col-sm-3 h-100 p-0 sidebar">
      <div class="nav-card h-100 d-flex flex-column p-3">
        <!-- Logo du coin-->
        <div class="d-flex align-items-center mb-4">
          <div class="circle-logo me-3">
            <img src="coin.png" alt="Clevory Logo" class="circle-image" />
          </div>
          <span class="titre text-white fs-5">Clevory Admin</span>
        </div>

        <!-- Bouton toggle pour mobile -->
        <button
          class="navbar-toggler d-md-none mb-3"
          type="button"
          id="sidebarToggle"
        >
          <i class="bi bi-list text-white"></i>
        </button>

        <!-- Liens du menu -->
        <div
          class="nav-links flex-grow-1 d-flex flex-column justify-content-center align-items-start sidebar-menu"
        >
          <ul class="list-unstyled">
            <li>
              <a
                routerLink="dashboard"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }"
                class="d-flex align-items-center py-2 nav-item-link"
              >
                <i class="bi bi-grid"></i>
                <span class="ms-2">Dashboard</span>
              </a>
            </li>
            <li>
              <a
                routerLink="accounts"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }"
                class="d-flex align-items-center py-2 nav-item-link"
              >
                <i class="bi bi-people fs-6"></i>
                <span class="ms-2">Accounts</span>
              </a>
            </li>
            <li>
              <a
                routerLink="companies"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }"
                class="d-flex align-items-center py-2 nav-item-link"
              >
                <i class="bi bi-building"></i>
                <span class="ms-2">Companies</span>
              </a>
            </li>
            <li>
              <a
                routerLink="addcompany"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }"
                class="d-flex align-items-center py-2 nav-item-link"
              >
                <i class="bi bi-person-plus"></i>
                <span class="ms-2">Add company</span>
              </a>
            </li>

            <li>
              <a
                routerLink="product"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }"
                class="d-flex align-items-center py-2 nav-item-link"
              >
                <i class="bi bi-box-seam"></i>
                <span class="ms-2">Products</span>
              </a>
            </li>

            <li>
              <a
                routerLink="addproduct"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }"
                class="d-flex align-items-center py-2 nav-item-link"
              >
                <i class="bi bi-cart-plus"></i>
                <span class="ms-2">Add Product</span>
              </a>
            </li>
          </ul>
        </div>

        <!-- Liens bas -->
        <div class="nav-links mt-auto">
          <ul class="list-unstyled">
            <li>
              <a
                routerLink="settings"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }"
                class="d-flex align-items-center py-2 nav-item-link"
              >
                <i class="bi bi-gear fs-6"></i>
                <span class="ms-2">Settings</span>
              </a>
            </li>
            <li>
              <a
                (click)="logout()"
                class="d-flex align-items-center text-white py-2"
              >
                <i class="bi bi-box-arrow-right fs-6"></i>
                <span class="ms-2">Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Contenu principal -->
    <div class="col-md-10 col-sm-9 h-100 main-content">
      <div class="content-area h-100">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
