/* style pour la navbard  */
.nav-card {
    background: #1C1C1E;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100vh;
    position: fixed;
    width: 230px;
}

/* style pour nouvelle notification  */
.newNotif {
    background-color: rgba(255, 0, 0, 0.3);
}

/* style pour le logo de coin  */
.circle-logo {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* style pour le titre clevory  */
.titre {
    font-weight: "inter", "semi-serif";
}


/* style pour les liens  */
.nav-links a {
    text-decoration: none;
    cursor: pointer;
    min-width: 180px;
    padding: 3px 15px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
    gap: 3px;
}

.nav-item-link {
    color: white;
    padding: 8px 12px;
    border-radius: 50px;
    transition: background 0.3s ease;
    gap: 0px;
}

/* style pour les icones des liens  */
.nav-item-link i {
    color: white;
}

/* style pour les liens actives  */
.active-link {
    background-color: rgb(74, 74, 74) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 50px !important;
}

/* style pour les icones des liens actives  */
.active-link i {
    color: black !important;
    color: rgb(255, 255, 255) !important;
}

/* style pour cett apge (component)  */
:host {
    display: block;
    background-color: #f4f6f9 !important;
    min-height: 100vh;
}